@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satisfy', cursive;
}

body {
    background: #1f242d;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;

}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: color 0.3s;
}

.navbar a:hover,
.navbar a:active {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px 10% 0;
    text-align: center;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content h3 span {
    color: #0ef;
}

.home-content p {
    font-size: 16px;
    line-height: 1.6;
    margin: 20px 0;
}

.social-media {
    margin: 20px 0;
}

.social-media a {
    color: #fff;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}
.social-media a:hover {

background: #0ef;
color: #1f242d;
box-shadow: 0 0 2px #0ef;


}

.btn {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid #0ef;
    color: #0ef;
    text-decoration: none;
    font-weight: 500;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.btn:hover {
    background: #0ef;
    color: #fff;
}

.home-img {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden; /* Ensures the image is cropped to the container */
    border-radius: 50%;
}

.home-img img {
    position: absolute;
    top: -30px; /* Adjust this value to position the top part of the image */
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    height: auto; /* Maintain aspect ratio */
    transition: 0.2s linear;
}
.home-img img :hover{
    font-size: 1.8rem;
    font-weight: 500;
}
